language: node_js
node_js:
  - 12
  - 13
  - 14
os:
  - linux
  - osx
  - windows
before_script:
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then npm config set script-shell "C:\\Program Files\\git\\bin\\bash.exe"; fi
script:
  - npm test
